<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">

    <title>Reader Web</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="../img/logo_reader_web.svg" width="100" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

   

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-div-titulo">
                <p class="card-titulo">Titulo do manga vai esta aq</p>
            </div>
            <div class="conteudo">
                <div class="card-descricao">
                    Descrição:111111111111111111111111111111111111111111
                </div>
                
                <div class="card-capitulo">
                    123/123
                </div>
            </div>
    
            <div>
                <img class="card-img" src="../img/Blade-193x278.jpg" alt="">
            </div>
        </div>
    </div>


    <div class="col">
        <div class="card">
            <div class="card-div-titulo">
                <p class="card-titulo">Titulo do manga vai esta aq</p>
            </div>
            <div class="conteudo">
                <div class="card-descricao">
                    Descrição:111111111111111111111111111111111111111111
                </div>
                
                <div class="card-capitulo">
                    123/123
                </div>
            </div>
    
            <div>
                <img class="card-img" src="../img/Blade-193x278.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-div-titulo">
                <p class="card-titulo">Titulo do manga vai esta aq</p>
            </div>
            <div class="conteudo">
                <div class="card-descricao">
                    Descrição:111111111111111111111111111111111111111111
                </div>
                
                <div class="card-capitulo">
                    123/123
                </div>
            </div>
    
            <div>
                <img class="card-img" src="../img/Blade-193x278.jpg" alt="">
            </div>
        </div>
    </div>


    <div class="col">
        <div class="card">
            <div class="card-div-titulo">
                <p class="card-titulo">Titulo do manga vai esta aq</p>
            </div>
            <div class="conteudo">
                <div class="card-descricao">
                    Descrição:111111111111111111111111111111111111111111
                </div>
                
                <div class="card-capitulo">
                    123/123
                </div>
            </div>
    
            <div>
                <img class="card-img" src="../img/Blade-193x278.jpg" alt="">
            </div>
        </div>
    </div>
</div>


    
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>