body {
    background-color: whitesmoke;
}

.card {
    margin: 10%;
    position: absolute; 
    width: 425px;
    height: 235px;
    border-radius: 15px;
}

.card-img {
    position: absolute; 
    width: 165px;
    height: 220px;
    border-radius: 15px;
    top: -15px;
}

.card-div-titulo {
    position: absolute; 
    background-color: white;
    left: 100px;
    z-index: 1;
    color: black;
    width: 325px;
    border-radius: 15px;
    border-bottom: solid;
    margin-bottom: 10px;
    
}
.conteudo{
    margin-top: 13px;
    position: absolute; 
    background-color: white;    
    color: black;
    width:100%;
    text-align:center;
    border-radius: 15px; 
}
.card-titulo {
    margin: 0;
    margin-left: 15px;
    border-radius: 15px;
}

.card-descricao{
    margin-top: 10px;
    padding: 5px;
    float:right;
    width:260px;
    height: 180px;
    border-radius: 15px;
}
.card-capitulo{
    clear: both;
    margin-top: 5px;
    width:165px;
    float:left;
    border-radius: 15px;

   
}
